{% extends 'base.html.twig' %}

{% block title %}Hello RegistrarUsuarioController!{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
{{ form(formulario) }}
{% endblock %}
